*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(image.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Alumni Sans SC",sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: larger;
    text-decoration:none;
    

}

nav{
    background-color: aliceblue;
    box-shadow: 7px 7px 10px gray;
    text-decoration: none;
    height: 30px;
    align-items: center;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
